.card_div{
    border: 1px solid red;
    width: 90vw;
    height: 23vh;
    display: flex;
    /* background: rgb(184, 255, 255); */
    /* backdrop-filter: blur(20px); */
    /* color: white; */
    margin-top: 30px;
    /* flex-direction: column; */
}
.card_value{
    /* border: 2px solid greenyellow; */
    width: 90vw;
}
.name_holder{
    margin-left: 2%;
}
.sell_data_holder{
    /* border: 1px solid green; */
    display: flex;
    margin-left: 20%;
    width: 40vw;
    justify-content: space-between;

}
.sell_data_holder h1{

}
.seller_detail_holder{
    /* border: 1px solid yellow; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;

}