/* .newscard */

.newscard {
    border: 3px solid rgb(20, 20, 20);
    width: 22vw;
    margin-left: 20px;
    border-radius: 10px;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 20px; */
    margin-top: 30px;
    
}
.newsimg{
    /* position: relative; */
}
.newsimg img {
    width: 100%;

}
.newscardholder{
    background-color: rgb(244, 252, 214);
    padding: 0px;
}
.newscardholder h1 {
    /* border: 1px solid green; */
    font-size: 40px;
    overflow: hidden;
    position: relative;

    /* display: inline-block; */
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_disc{
    /* border: 7px solid rgb(0, 34, 255); */
    /* width: ; */
    height: 15vh;
    /* padding: 5px; */
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    /* display: inline-block; */



}
.news_disc h2{
    font-size: 30px;
    /* width: 180px; */
    /* white-space: nowrap; */
    /* overflow: hidden !important; */
    /* text-overflow: ellipsis */
}